<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xybl.server.dao.LogDao">

    <insert id="addOneLog" parameterType="com.xybl.server.entity.Log">
        INSERT INTO t_log(id, detail)
        VALUES (#{id}, #{detail});
    </insert>

    <select id="getLogs" resultType="com.xybl.server.entity.Log">
        SELECT *
        FROM t_log
        ORDER BY id DESC
        LIMIT 100;
    </select>

    <select id="getLastId" resultType="java.util.HashMap">
        SELECT SUBSTRING(id, 14, 3) as last_id, SUBSTRING(id, 1, 13) as t_id
        FROM t_log
        WHERE SUBSTRING(id, 1, 10) > UNIX_TIMESTAMP(CAST(SYSDATE() AS DATE))
        ORDER BY t_id DESC
        LIMIT 1;
    </select>
</mapper>