<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xybl.server.dao.ResearchDao">
    <resultMap id="baseMap" type="com.xybl.server.entity.Research">
        <id column="t_rh_id" jdbcType="VARCHAR" property="id"/>
        <result column="t_rh_handler" jdbcType="VARCHAR" property="handler"/>
        <result column="t_rh_auditor" jdbcType="VARCHAR" property="auditor"/>
        <result column="t_rh_protime" jdbcType="DATE" property="pro_time"/>
        <result column="t_rh_result" jdbcType="CLOB" property="result"/>
        <result column="t_rh_restime" jdbcType="DATE" property="res_time"/>
        <result column="t_rh_filepath" jdbcType="CLOB" property="filepath"/>
        <result column="t_rh_appcomment" jdbcType="CLOB" property="app_comment"/>
        <result column="t_rh_reresearch" jdbcType="VARCHAR" property="re_research"/>
    </resultMap>

    <!--  public Research getOneResearchById(String id);  -->
    <select id="getOneResearchById" parameterType="String" resultMap="baseMap">
        SELECT *
        FROM t_research
        <where>
            <if test="id != null and id != ''">
                t_rh_id = #{id};
            </if>
        </where>
    </select>

    <!--  public List<Research> getResearches();  -->
    <select id="getResearches" resultMap="baseMap">
        SELECT *
        FROM t_research
        LIMIT 100;
    </select>

    <!--  public void addOneResearch(Research research);  -->
    <insert id="addOneResearch" parameterType="com.xybl.server.entity.Research">
        <if test="handler != null and handler != '' and id != null and id != ''">
            INSERT INTO t_research(t_rh_id, t_rh_handler, t_rh_auditor, t_rh_protime, t_rh_result, t_rh_restime,
            t_rh_filepath, t_rh_appcomment, t_rh_reresearch)
            VALUES (#{id}, #{handler}, #{auditor}, #{pro_time}, #{result}, #{res_time}, #{filepath}, #{app_comment},
            #{re_research});
        </if>
    </insert>

    <!--  public void deleteOneResearchById(String id);  -->
    <delete id="deleteOneResearchById" parameterType="String">
        DELETE
        FROM t_research
        WHERE t_rh_id = #{id};
    </delete>

    <!--  public void updateOneResearch(Research research);  -->
        <update id="updateOneResearch" parameterType="com.xybl.server.entity.Research">
            UPDATE t_research
            <set>
                <if test="handler != null and handler != ''">
                    t_rh_handler=#{handler},
                </if>
                <if test="auditor != null and auditor != ''">
                    t_rh_auditor=#{auditor},
                </if>
                <if test="pro_time != null and pro_time != ''">
                    t_rh_protime=#{pro_time},
                </if>
                <if test="result != null and result != ''">
                    t_rh_result=#{result},
                </if>
                <if test="res_time != null and res_time != ''">
                    t_rh_restime=#{res_time},
                </if>
                <if test="filepath != null and filepath != ''">
                    t_rh_filepath=#{filepath},
                </if>
                <if test="app_comment != null and app_comment != ''">
                    t_rh_appcomment=#{app_comment},
                </if>
                <if test="re_research != null and re_research != ''">
                    t_rh_reresearch=#{re_research}
                </if>
            </set>
            <where>
                t_rh_id=#{id};
            </where>
        </update>

    <!--  public Map<String,Object> getLastId();  -->
    <select id="getLastId" resultType="java.util.HashMap">
        SELECT SUBSTRING(t_rh_id, 14, 3) as last_id, SUBSTRING(t_rh_id, 1, 13) as t_id
        FROM t_research
        WHERE SUBSTRING(t_rh_id, 1, 10) > UNIX_TIMESTAMP(CAST(SYSDATE() AS DATE))
        ORDER BY t_id DESC
        LIMIT 1;
    </select>
</mapper>
