<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xybl.server.dao.SchoolDao">
    <resultMap id="baseMap" type="com.xybl.server.entity.School">
        <id column="t_sch_id" jdbcType="VARCHAR" property="id"/>
        <result column="t_sch_name" jdbcType="VARCHAR" property="name"/>
        <result column="t_sch_address" jdbcType="VARCHAR" property="address"/>
        <result column="t_sch_postcode" jdbcType="VARCHAR" property="postcode"/>
        <result column="t_sch_tel" jdbcType="VARCHAR" property="tel"/>
        <result column="t_sch_web" jdbcType="VARCHAR" property="web"/>
    </resultMap>

    <insert id="addSchool" parameterType="com.xybl.server.entity.School">
        INSERT INTO t_school(t_sch_id, t_sch_name, t_sch_address, t_sch_postcode, t_sch_tel, t_sch_web)
        VALUE (#{id}, #{name}, #{address}, #{postcode}, #{tel}, #{web})
    </insert>

    <select id="getSchoolByName" parameterType="String" resultMap="baseMap">
        SELECT * FROM t_school WHERE t_sch_name=#{search_name}
    </select>

    <delete id="delSchoolById" parameterType="String">
        DELETE
        FROM t_school
        WHERE t_sch_id=#{id}
    </delete>

    <select id="getSchoolById" parameterType="String" resultMap="baseMap">
        select * from t_school where t_sch_id=#{id};
    </select>

<!--    public List<School> getAllSchool();-->
    <select id="getAllSchool" resultMap="baseMap">
        select *
        from t_school
    </select>
</mapper>